body {
    font-family: -apple-system, sans-serif;
}

pre {
    overflow-x: auto;
}
pre code {
    overflow-wrap: normal;
    white-space: pre;
}

#glucose_chart {
    height: 400px;
}

#input_chart, #insulin_chart, #carbs_chart {
    height: 100px;
}

@media screen and (max-width:767px) {
    .browse-nav {
        overflow-y: auto;
        max-height: 160px;
        -webkit-overflow-scrolling: touch;
    }
}

@font-face {
  font-family: 'Roboto2';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto2-Regular'), url(third_party/Roboto.ttf) format('truetype');
}
