<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ config.OPENAPS.name }} — openaps monitor</title>
  {% for href, _ in CSS_ASSETS %}
    <link rel="stylesheet" href="{{ href }}" />
  {% endfor %}

  <link rel="apple-touch-icon" href="/static/apple-touch-icon-76.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-touch-icon-76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-touch-icon-120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-touch-icon-152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/static/apple-touch-icon-167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon-180.png">
</head>
<body>
  <div class="container-fluid">
    <h1>{{ config.OPENAPS.name }} <small>openaps monitor</small></h1>

    <div id="timeline">
        <div id="glucose_chart"></div>
        <div id="iob_chart"></div>
        <div id="basal_chart"></div>
        <div id="carbs_chart"></div>
    </div>

    <h2>Browse files</h2>
    <div class="row">
      <div class="col-sm-3 browse-nav">
        <ul class="nav nav-pills nav-stacked" role="tablist">
          {% for name in openaps.all_filenames() %}
          {% with target = name|replace('.', '') %}
          <li role="presentation"><a href="#{{ target }}" aria-controls="{{ target }}" role="tab" data-toggle="tab">{{ name }}</a></li>
          {% endwith %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-9 tab-content">
        {% for name, date, data in openaps.all_filenames_and_data() %}
          {% with target = name|replace('.', '') %}
            <div role="tabpanel" class="tab-pane" id="{{ target }}">
              <h3><span class="badge">{{ date }}</span></h3>
              <pre><code>{{ data }}</code></pre>
            </div>
          {% endwith %}
        {% endfor %}
      </div>
    </div>
  </div>

  {% for src, _ in JS_ASSETS %}
    <script type="text/javascript" src="{{ src }}"></script>
  {% endfor %}
  <script type="text/javascript">
    (function () {
        Monitor.setupHighcharts();

        var actualGlucose = {{ actual_glucose|tojson|safe }};
        var predictedGlucose = {{ predicted_glucose|tojson|safe }};
        var predictedGlucoseWithoutDose = {{ predicted_glucose_without_dose|tojson|safe }};
        var targetGlucose = {{ target_glucose|tojson|safe }};

        $('#glucose_chart').toggle(actualGlucose.length + predictedGlucose.length + predictedGlucoseWithoutDose.length + targetGlucose.length > 0).highcharts(Monitor.GlucoseLineHighchart(
            actualGlucose,
            predictedGlucose,
            predictedGlucoseWithoutDose,
            targetGlucose,
            '{{ display_unit }}'
        ));

        var basal = {{ basal|tojson|safe }};
        var square = {{ square|tojson|safe }};

        $('#basal_chart').toggle(basal.length + square.length > 0).highcharts(Monitor.BasalAreaHighchart(
            basal,
            square
        ));

        var iob = {{ iob|tojson|safe }};
        var bolus = {{ bolus|tojson|safe }};

        $('#iob_chart').toggle(iob.length + bolus.length > 0).highcharts(Monitor.IOBAreaHighchart(
            iob,
            bolus
        ));

        var cob = {{ cob|tojson|safe }}
        var carbs = {{ carbs|tojson|safe }};

        $('#carbs_chart').toggle(cob.length + carbs.length > 0).highcharts(Monitor.CarbsAreaHighchart(
            cob,
            carbs
        ));

        Monitor.syncHighchartsMovementsInContainer($('#timeline'));
    })()
  </script>
</body>
</html>
