<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ config.OPENAPS.name }} — openaps monitor</title>
  {% for href, _ in CSS_ASSETS %}
    <link rel="stylesheet" href="{{ href }}" />
  {% endfor %}
</head>
<body>
  <div class="container-fluid">
    <h1>{{ config.OPENAPS.name }} <small>openaps monitor</small></h1>

    <h2>Timeline</h2>

    <div id="glucose_chart"></div>
    <div id="input_chart"></div>

    <h2>Browse files</h2>
    <div class="row">
      <div class="col-sm-3 browse-nav">
        <ul class="nav nav-pills nav-stacked" role="tablist">
          {% for name in openaps.all_filenames() %}
          {% with target = name|replace('.', '') %}
          <li role="presentation"><a href="#{{ target }}" aria-controls="{{ target }}" role="tab" data-toggle="tab">{{ name }}</a></li>
          {% endwith %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-9 tab-content">
        {% for name, date, data in openaps.all_filenames_and_data() %}
          {% with target = name|replace('.', '') %}
            <div role="tabpanel" class="tab-pane" id="{{ target }}">
              <h3><span class="badge">{{ date }}</span></h3>
              <pre><code>{{ data }}</code></pre>
            </div>
          {% endwith %}
        {% endfor %}
      </div>
    </div>
  </div>

  {% for src, _ in JS_ASSETS %}
    <script type="text/javascript" src="{{ src }}"></script>
  {% endfor %}
  <script type="text/javascript">
    (function () {
      var dateMin;
      var isMaterial = false;

      var glucoseChart = new GlucoseLineChart({{ glucose_cols|tojson|safe }}, {{ glucose_rows|tojson|safe }}, document.getElementById('glucose_chart'), false, "{{ display_unit }}");
      var inputChart = new InputAreaChart({{ history_cols|tojson|safe }}, {{ history_rows|tojson|safe }}, document.getElementById('input_chart'), false);

      // Extend and match the x-axis values
      var glucoseRange = glucoseChart.dataTable.getColumnRange(0);
      var inputRange = inputChart.dataTable.getColumnRange(0);
      var now = new Date();

      if (glucoseRange.min != null && inputRange.min != null) {
        dateMin = new Date(Math.min(glucoseRange.min, inputRange.min));
      } else {
        dateMin = glucoseRange.min || inputRange.min;
      }

      var dateMax = new Date(Math.max(now, glucoseRange.max, inputRange.max));

      glucoseChart.options.hAxis.viewWindow.max = dateMax;
      glucoseChart.options.hAxis.viewWindow.min = dateMin;
      inputChart.options.hAxis.viewWindow.max = dateMax;
      inputChart.options.hAxis.viewWindow.min = dateMin;

      glucoseChart.draw();
      inputChart.draw();

      window.addEventListener('resize', function() {
        glucoseChart.draw();
        inputChart.draw();
      });
    })()
  </script>
</body>
</html>
