<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ config.OPENAPS.name }} — openaps monitor</title>
  {% for href, _ in CSS_ASSETS %}
    <link rel="stylesheet" href="{{ href }}" />
  {% endfor %}
</head>
<body>
  <div class="container-fluid">
    <h1>{{ config.OPENAPS.name }} <small>openaps monitor</small></h1>

    <div id="timeline">
        <div id="glucose_chart"></div>
        <div id="iob_chart"></div>
        <div id="basal_chart"></div>
        <div id="carbs_chart"></div>
    </div>

    <h2>Browse files</h2>
    <div class="row">
      <div class="col-sm-3 browse-nav">
        <ul class="nav nav-pills nav-stacked" role="tablist">
          {% for name in openaps.all_filenames() %}
          {% with target = name|replace('.', '') %}
          <li role="presentation"><a href="#{{ target }}" aria-controls="{{ target }}" role="tab" data-toggle="tab">{{ name }}</a></li>
          {% endwith %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-9 tab-content">
        {% for name, date, data in openaps.all_filenames_and_data() %}
          {% with target = name|replace('.', '') %}
            <div role="tabpanel" class="tab-pane" id="{{ target }}">
              <h3><span class="badge">{{ date }}</span></h3>
              <pre><code>{{ data }}</code></pre>
            </div>
          {% endwith %}
        {% endfor %}
      </div>
    </div>
  </div>

  {% for src, _ in JS_ASSETS %}
    <script type="text/javascript" src="{{ src }}"></script>
  {% endfor %}
  <script type="text/javascript">
    (function () {
        Monitor.setupHighcharts();

        $('#glucose_chart').highcharts(Monitor.GlucoseLineHighchart(
            {{ actual_glucose|tojson|safe }}, 
            {{ predicted_glucose|tojson|safe }},
            {{ target_glucose|tojson|safe }},
            '{{ display_unit }}'
        ));

        $('#basal_chart').highcharts(Monitor.BasalAreaHighchart(
            {{ basal|tojson|safe }},
            {{ square|tojson|safe }}
        ));

        $('#iob_chart').highcharts(Monitor.IOBAreaHighchart(
            {{ iob|tojson|safe }},
            {{ bolus|tojson|safe }}
        ));

        $('#carbs_chart').highcharts(Monitor.CarbsAreaHighchart(
            {{ carbs|tojson|safe }}
        ));

        Monitor.syncHighchartsMovementsInContainer($('#timeline'));
    })()
  </script>
</body>
</html>
